* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cartas {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}
.carta {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 8px;
  background-color: #c4e1f2;
  border-color: #c4e1f2;
  background-size: cover;
}

#botao-resetar {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #F24949;
    margin: 16px;
    color: blanchedalmond;
    border: none;
    font-size: 18px;
}